* {
	margin: 0;
	padding: 0;
}

/*fuwatについて*/
.fuwatAnime {
	-webkit-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1.5s;
	-ms-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-name: fuwatAnime;
	-ms-animation-name: fuwatAnime;
	animation-name: fuwatAnime;
	visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@keyframes fuwatAnime {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

/*bodyについて*/
body {
	background-color: #e8e8e8;
	font-family: "03スマートフォントUI";
	font-weight: lighter;
}

/*headerについて*/
.wave {
	position: fixed;
	z-index: 1000;
}

.logo{
	padding: 140px 30px 80px 0;
}

/*wrapperについて*/
.wrapper {
	width: 1020px;
	margin: 0 auto;
	outline: 1px solid #222;
}

/*topについて*/
.top {
	background: #d0fff0;
	height: 700px;
}

/*navについて*/
nav {
	position: fixed;
	z-index: 10000;
}

ul {
	list-style-type: none;
	display: flex;
}

#gNav {
	top: 10px;
	margin-left: 170px;
}

#gNav ul li a {
	text-decoration: none;
	color: #222;
	display: block;
	text-align: center;
}

#gNav ul li a .move {
	transition: 0.3s ease-in-out;
}

#gNav ul li a .txt {
	display: block;
}

.list01{
	margin-right: 60px;
}

.list02{
	margin-right: 83px;
}
.list03{
	margin-right: 75px;
}

.list a{
	position: relative;
	display: inline-block;
	text-decoration: none;
}

.list a::after {
	position: absolute;
	bottom: -4px;
	left: 0;
	content: '';
	width: 100%;
	height: 2px;
	background: #333;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform .3s;
}

.list a:hover::after {
	transform: scale(1, 1);
}

.list a:hover .move {
	transition: opacity 0.5s;
	transform: rotateZ( 20deg ) ;
}

.slider{
	position: relative;
	top: 280px;
	z-index: 30;
}

.space{
	padding: 40px;
}

/*logoについて*/
.logo {
	position: absolute;
	top: 5px;
	right: 220px;
	z-index: 400;
}

.frappuccino{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 400;
}

/*aboutについて*/
.about {
	background: #fff;
	font-family: a-otf-futo-go-b101-pr6n, sans-serif;
	font-style: normal;
	font-weight: 500;
	text-align: center;
	margin-top: 150px;
	position: relative;
}

.about h2 {
	font-size: 45px;
	padding: 25px 0px 10px 0px;
}

.about p {
	font-size: 18px;
	line-height: 40px;
	padding-bottom: 25px;
}

.outline {
	font-family: "03スマートフォントUI";
	font-weight: lighter;
	display: inline;
	color: #ffffff;
	/* 文字の色 */
	font-size: 40pt;
	/* 文字のサイズ */
	letter-spacing: 2px;
	/* 文字間 */
	text-shadow:
		1px 1px 0px #000000,
		-1px 1px 0px #000000,
		1px -1px 0px #000000,
		-1px -1px 0px #000000,
		1px 0px 0px #000000,
		0px 1px 0px #000000,
		-1px 0px 0px #000000,
		0px -1px 0px #000000;
	/* 文字の影 */

}

.underline {
	border: 0.5px solid #000;
	background-color: #d0fff0;
	padding: 3px;
}

.icon01{
	position: absolute;
	top: -40px;
	left: -40px;
}

.icon02{
	position: absolute;
	bottom: -30px;
	right: -20px;
	transform: rotate( 20deg );
	
}

/*feelingについて*/
.feeling {
	background: #d0fff0;
	text-align: center;
	margin-top: 150px;
	
}

.feeling_title h3{
	font-size: 20px;
	font-weight: lighter;
	padding: 35px 0 15px 0;
}

.feeling_title h2{
	font-size: 35px;
	font-weight: lighter;
}

.feeling_title h4{
	font-size: 18px;
	font-weight: lighter;
	padding: 15px 0 25px 0;
}

.container {
	display: flex;
	justify-content: space-around;
}

.container h4{
	font-size: 15px;
	padding: 15px 0 10px 0;
}

.container h3{
	font-size: 25px;
}

.container p{
	font-size: 15px;
	padding: 10px 0 30px 0;
}

.morebtn {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #fce4e4;/*背景色*/
	z-index: 500;
}

.btn01{
/*
	top: 1695px;
	left: 440px;
*/
	top:380px;
	left: 220px;
}

.btn02{
/*
	top: 1695px;
	left: 780px;
*/
	top:380px;
	left: 560px;
}

.btn03{
/*
	top: 1695px;
	right: 220px;
*/
	top:380px;
	left: 900px;
}

.morebtn img{
	padding-top:20px;
	transition: 0.3s ease-in-out;
}

figure{
	position: relative;
}

/*topicについて*/
.topic {
	background: url(images/wave_white.png);
	outline: none;
	margin-top: 150px;
	position: relative;
	height: 858px;
	font-family: "03スマートフォントUI";
	font-weight: lighter;
}

.topic .content_title{
	position: absolute;
	top: 100px;
	right: 300px;
	z-index: 10;
}

.description {
	width: 600px;
	display: flex;
	align-items: center;
	position: absolute;
	top: 120px;
	left: 170px;
	z-index: 6;
}

.description img{
	position: relative;
}

.description p{
	position: absolute;
	left: 110px;
	font-family: kozuka-gothic-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#topic .content-slide{
	padding-top: 300px;
}

.idea{
	display: inline-block;
	text-align: center;
}	

.idea p{
	font-size: 17px;
	margin: 20px;
}

.idea01{
	padding: 20px;
	background-color: #d2fff2;
}

.idea .slick-image{
	position: relative;
	display: inline-block;
	display: inline-block;
	outline: 3px solid #222;
}

.enclosure{
	position: absolute;
	top: 559px;
	left: px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.btn,
a.btn,
button.btn {
	font-size: 15px;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	padding: 1rem 4rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.05em;
	color: #212529;
	border-radius: 0.5rem;
	font-family: minion-pro, serif;
	font-weight: 400;
	font-style: normal;
}

a.btn-border {
	margin-bottom: 12px;
	padding: 0;

	-webkit-transition: all 0.3s;

	transition: all 0.3s;

	border-radius: 0;
}

a.btn-border span {
	position: relative;
	display: block;
	padding: 10px 45px;
	color: #000;
	border: 2px solid #000;
	border-radius: 0.3rem;
	background: #fff;
}

a.btn-border:before {
	position: absolute;
	bottom: -8px;
	left: 0;

	display: block;

	width: 100%;
	height: 14px;

	content: "";
	-webkit-transition: all 0.3s;
	transition: all 0.3s;

	border: 2px solid #000;
	border-top: 1px solid #000;
	border-radius: 0 0 0.5rem 0.5rem;
	background-image: -webkit-repeating-linear-gradient(
		135deg,
		#000,
		#000 1px,
		transparent 2px,
		transparent 5px
	);
	background-image: repeating-linear-gradient(
		-45deg,
		#000,
		#000 1px,
		transparent 2px,
		transparent 5px
	);
	background-size: 7px 7px;

	-webkit-backface-visibility: hidden;

	backface-visibility: hidden;
}

a.btn-border:hover {
	-webkit-transform: translate(0, 3px);
	transform: translate(0, 3px);
}

a.btn-border:hover:before {
	bottom: -5px;
}

a.btn-border:active {
	-webkit-transform: translate(0, 7px);
	transform: translate(0, 7px);
}

a.btn-border:active:before {
	bottom: -1px;
}

/*ここからswiper*/
[class^="swiper-button-"], .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.swiper-container {
	width: 100%;
	height: 28vw;
	-webkit-transition: opacity .6s ease;
	transition: opacity .6s ease;
	position: absolute;
	top: 270px;
}
.swiper-container.swiper-container-coverflow {
	padding-top: 2%;
}
.swiper-container.loading {
	opacity: 0;
	visibility: hidden;
}
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
}
.swiper-slide .entity-img {
	display: none;
}
.swiper-slide .content {
	position: absolute;
	top: 40%;
	left: 0;
	width: 50%;
	padding-left: 5%;
	color: #fff;
}
.swiper-slide .content .title {
	font-size: 2.6em;
	font-weight: bold;
	margin-bottom: 10px;
}
.swiper-slide .content .caption {
	display: block;
	font-size: 15px;
	line-height: 1.4;
}

[class^="swiper-button-"] {
	width: 44px;
	opacity: 0;
	visibility: hidden;
}

.swiper-button-prev {
	-webkit-transform: translateX(50px);
	transform: translateX(50px);
}

.swiper-button-next {
	-webkit-transform: translateX(-50px);
	transform: translateX(-50px);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 9px;
	position: relative;
	width: 12px;
	height: 12px;
	background-color: #ffffff;
	opacity: .4;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 18px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 0px solid #fff;
	border-radius: 50%;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
	opacity: 1;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
	border-width: 1px;
}

@media (max-width: 1180px) {
	.swiper-slide .content .title {
		font-size: 25px;
	}
	.swiper-slide .content .caption {
		font-size: 12px;
	}
}
@media (max-width: 1023px) {
	.swiper-container {
		height: 40vw;
	}
	.swiper-container.swiper-container-coverflow {
		padding-top: 0;
	}
}
/*swiperここまで*/

/*recommendについて*/
.recommend {
	outline: none;
	text-align: center;
	margin-top: 150px;
	background: url(images/wave_blue.png);
	background-repeat: no-repeat;
	font-size: 30px;
	height: 1020px;
}

.line_title{
	top: 140px;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	display: inline-block;
}

.line_title_h3{
	font-family: "03スマートフォントUI";
	font-weight: lighter;
	font-size: 35px;
}

.line_title_h4{
	font-family: "03スマートフォントUI";
	font-weight: lighter;
	font-size: 20px;
	padding-top: 10px;
}

.line{
	padding: 120px 0 30px 0;
	position: relative;
}

.primary {
	
}

.upper {
	display: flex;
}

.lower {
	display: flex;
}

.box{
	position: relative;
	margin: 0 auto;
}
.number{
	position: absolute;
	top: 60px;
	left:-60px;
}

.frame {}

/*footerについて*/
footer {
	background: #d0fff0;
	padding: 15px;
	outline: 1px solid #222;
	text-align: center;
}

footer p{
	font-size: 15px;
	padding-top: 8px;
}

footer #pagetop.in {
	bottom: -10px;
}

footer #pagetop {
	padding: 0;
	margin: 0;
	position: fixed;
	right: 28px;
	bottom: -100px;
	z-index: 100;
	transition: 0.5s ease-in-out;
}