* {
	margin: 0;
	padding: 0;
}

/*fuwatについて*/
.fuwatAnime {
	-webkit-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1.5s;
	-ms-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-name: fuwatAnime;
	-ms-animation-name: fuwatAnime;
	animation-name: fuwatAnime;
	visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@keyframes fuwatAnime {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

/*bodyについて*/
body {
	background-color: #e8e8e8;
	font-family: "03スマートフォントUI";
	font-weight: lighter;
}

/*headerについて*/
.wave {
	position: fixed;
	z-index: 1000;
}

.logo {
	padding: 140px 30px 80px 0;
}

/*wrapperについて*/
.wrapper {
	width: 1020px;
	margin: 0 auto;
	outline: 1px solid #222;
}

/*topについて*/
.top {
	background: #d0fff0;
	height: 700px;
}

/*navについて*/
nav {
	position: fixed;
	z-index: 10000;
}

ul {
	list-style-type: none;
	display: flex;
}

#gNav {
	top: 10px;
	margin-left: 170px;
}

#gNav ul li a {
	text-decoration: none;
	color: #222;
	display: block;
	text-align: center;
}

#gNav ul li a .move {
	transition: 0.3s ease-in-out;
}

#gNav ul li a .txt {
	display: block;
}

.list01 {
	margin-right: 60px;
}

.list02 {
	margin-right: 83px;
}

.list03 {
	margin-right: 75px;
}

.list a {
	position: relative;
	display: inline-block;
	text-decoration: none;
}

.list a::after {
	position: absolute;
	bottom: -4px;
	left: 0;
	content: '';
	width: 100%;
	height: 2px;
	background: #333;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform .3s;
}

.list a:hover::after {
	transform: scale(1, 1);
}

.list a:hover .move {
	transition: opacity 0.5s;
	transform: rotateZ(20deg);
}

.slider {
	position: relative;
	top: 280px;
	z-index: 30;
}

.space {
	padding: 40px;
}

/*logoについて*/
.logo {
	position: absolute;
	top: 5px;
	right: 220px;
	z-index: 400;
}

.frappuccino {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 400;
}

/*aboutについて*/
.about {
	background: #fff;
	font-family: a-otf-futo-go-b101-pr6n, sans-serif;
	font-style: normal;
	font-weight: 500;
	text-align: center;
	margin-top: 150px;
	position: relative;
}

.about h2 {
	font-size: 45px;
	padding: 25px 0px 10px 0px;
}

.about p {
	font-size: 18px;
	line-height: 40px;
	padding-bottom: 25px;
}

.outline {
	font-family: "03スマートフォントUI";
	font-weight: lighter;
	display: inline;
	color: #ffffff;
	/* 文字の色 */
	font-size: 40pt;
	/* 文字のサイズ */
	letter-spacing: 2px;
	/* 文字間 */
	text-shadow:
		1px 1px 0px #000000,
		-1px 1px 0px #000000,
		1px -1px 0px #000000,
		-1px -1px 0px #000000,
		1px 0px 0px #000000,
		0px 1px 0px #000000,
		-1px 0px 0px #000000,
		0px -1px 0px #000000;
	/* 文字の影 */

}

.underline {
	border: 0.5px solid #000;
	background-color: #d0fff0;
	padding: 3px;
}

.icon01 {
	position: absolute;
	top: -40px;
	left: -40px;
}

.icon02 {
	position: absolute;
	bottom: -30px;
	right: -20px;
	transform: rotate(20deg);

}

/*feelingについて*/
.feeling {
	background: #d0fff0;
	text-align: center;
	margin-top: 150px;

}

.feeling_title h3 {
	font-size: 20px;
	font-weight: lighter;
	padding: 35px 0 15px 0;
}

.feeling_title h2 {
	font-size: 35px;
	font-weight: lighter;
}

.feeling_title h4 {
	font-size: 18px;
	font-weight: lighter;
	padding: 15px 0 25px 0;
}

#feeling-one:target,
#feeling-two:target,
#feeling-three:target,
#feeling-four:target,
#feeling-five:target {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.container {
	display: flex;
	justify-content: space-around;
}

.container h4 {
	font-size: 15px;
	padding: 15px 0 10px 0;
}

.container h3 {
	font-size: 25px;
}

.container p {
	font-size: 15px;
	padding: 10px 0 30px 0;
}

.morebtn {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #fce4e4;
	/*背景色*/
	z-index: 500;
}

.btn01 {
	/*
	top: 1695px;
	left: 440px;
*/
	top: 380px;
	left: 220px;
	overflow: hidden;
}

.btn01 img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.btn01:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.btn02 {
	/*
	top: 1695px;
	left: 780px;
*/
	top: 380px;
	left: 560px;
}

.btn02 img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.btn02:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.btn03 {
	/*
	top: 1695px;
	right: 220px;
*/
	top: 380px;
	left: 900px;
}

.btn03 img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.btn03:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.morebtn img {
	padding-top: 20px;
	transition: 0.3s ease-in-out;
}

figure {
	position: relative;
}

.effect-float a {
	display: block;
	height: 360px;
	box-shadow: 0 2px 4px rgba(3, 3, 3, .09);
	border-radius: 3px;
}

.effect-float a:hover {
	display: block;
	height: 360px;
	box-shadow: 0 8px 12px rgba(0, 0, 0, .12);
	border-radius: 3px;
	margin-top: -5px;
}

/*topicについて*/
.topic {
	background: url(images/wave_white.png);
	outline: none;
	margin-top: 150px;
	position: relative;
	height: 858px;
	font-family: "03スマートフォントUI";
	font-weight: lighter;
}

.topic .content_title {
	position: absolute;
	top: 80px;
	right: 340px;
	z-index: 10;
}

.description {
	width: 600px;
	display: flex;
	align-items: center;
	position: absolute;
	top: 100px;
	left: 110px;
	z-index: 6;
}

.description img {
	position: relative;
}

.description p {
	position: absolute;
	left: 110px;
	font-family: kozuka-gothic-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.pc {
	display: inline !important;
}

.vertical-title01 {
	display: none !important;
}

#topic .content-slide {
	padding-top: 300px;
}

.idea {
	display: inline-block;
	text-align: center;
}

.idea p {
	font-size: 17px;
	margin: 20px;
}

.idea01 {
	padding: 20px;
	background-color: #d2fff2;
}

.idea .slick-image {
	position: relative;
	display: inline-block;
	display: inline-block;
	outline: 3px solid #222;
}

.enclosure {
	position: absolute;
	top: 400px;
	left: px;
}

.md-btn-area {
	margin-bottom: 50px;
}

.md-btn {
	border: 1px solid #7a7a7a;
	padding: 10px;
	margin: 5px;
	border-radius: 3px;
	cursor: pointer;
	background-color: #666;
	text-shadow: 0 -1px 0 #000;
	-webkit-box-shadow: 0 0 0 1px #222;
	box-shadow: 0 0 0 1px #222;
}

.md-btn:hover {
	background-color: #6e6e6e;
}


/* ****************
* Modal window
* *************** */
.modal {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	/*	text-shadow:0 1px 0 #333;*/
	color: #222;
	text-align: center;
	font-size: 15px;
	-webkit-transition: opacity .4s linear;
	transition: opacity .4s linear;
	-webkit-transform: translate(0, 100%);
	-ms-transform: translate(0, 100%);
	transform: translate(0, 100%);
	z-index: 600000;
}

/* Modal content */
.modal-inner {
	position: relative;
	margin: 60px 5% 5%;
	padding: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	/*	background-color:rgba(255,255,255,.2);*/
	background-color: #d2fff2;
	z-index: 10;
	opacity: 0.9;
	font-family: "03スマートフォントUI";
	font-weight: lighter;
	display: inline-block;
	outline: 3px solid #222;
	width: 500px;
}

.enclosure {
	position: absolute;
	top: 224px;
	left: -2px;
}

.modal-inner .img_box {
	position: relative;
	height: 100%;
}

.sample-img {
	position: relative;
	outline: 2px solid #222;
	width: 100%;
}

.modal h2 {
	padding-bottom: 20px;
	font-style: normal;
}

.modal p {
	padding: 10px 0;
	font-style: normal;
	font-size: 20px;
	text-align: left;
	display: block;
	margin: 5px 20px;
}


/* ****************
* Modal close button
* *************** */
.modal .close {
	display: block;
	position: absolute;
	top: 0;
	left 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .74);
	z-index: 1;
}

.modal .close span {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, .2);
	cursor: pointer;
}

.modal .close span {
	text-indent: -9999px;
}

.modal .close span:before,
.modal .close span:after {
	content: "";
	position: absolute;
	top: 4px;
	border: 1px solid #fff;
	height: 30px;
}

.modal .close span:before {
	left: 19px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.modal .close span:after {
	right: 19px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


/* ****************
* Append modal(target id)
* *************** */
#modal-one:target,
#modal-two:target,
#modal-three:target,
#modal-four:target,
#modal-five:target {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.btn,
a.btn,
button.btn {
	font-size: 15px;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	padding: 1rem 4rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.05em;
	color: #212529;
	border-radius: 0.5rem;
	font-family: minion-pro, serif;
	font-weight: 400;
	font-style: normal;
}

a.btn-border {
	margin-bottom: 12px;
	padding: 0;

	-webkit-transition: all 0.3s;

	transition: all 0.3s;

	border-radius: 0;
}

a.btn-border span {
	position: relative;
	display: block;
	padding: 10px 45px;
	color: #000;
	border: 2px solid #000;
	border-radius: 0.3rem;
	background: #fff;
}

a.btn-border:before {
	position: absolute;
	bottom: -8px;
	left: 0;

	display: block;

	width: 100%;
	height: 14px;

	content: "";
	-webkit-transition: all 0.3s;
	transition: all 0.3s;

	border: 2px solid #000;
	border-top: 1px solid #000;
	border-radius: 0 0 0.5rem 0.5rem;
	background-image: -webkit-repeating-linear-gradient(135deg,
			#000,
			#000 1px,
			transparent 2px,
			transparent 5px);
	background-image: repeating-linear-gradient(-45deg,
			#000,
			#000 1px,
			transparent 2px,
			transparent 5px);
	background-size: 7px 7px;

	-webkit-backface-visibility: hidden;

	backface-visibility: hidden;
}

a.btn-border:hover {
	-webkit-transform: translate(0, 3px);
	transform: translate(0, 3px);
}

a.btn-border:hover:before {
	bottom: -5px;
}

a.btn-border:active {
	-webkit-transform: translate(0, 7px);
	transform: translate(0, 7px);
}

a.btn-border:active:before {
	bottom: -1px;
}

/*ここからswiper*/
[class^="swiper-button-"] {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.swiper-slide {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.swiper_main {
	position: relative;

}

.swiper-container {
	width: 60%;
	height: 60vh;
	float: left;
	-webkit-transition: opacity .6s ease, -webkit-transform .3s ease;
	transition: opacity .6s ease, -webkit-transform .3s ease;
	transition: opacity .6s ease, transform .3s ease;
	transition: opacity .6s ease, transform .3s ease, -webkit-transform .3s ease;
	top: 240px;
	left: 10%;
}

.swiper-container.nav-slider {
	width: 20%;
	padding-left: 5px;
}

.swiper-container.nav-slider .swiper-slide {
	cursor: pointer;
	opacity: .4;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

.swiper-container.nav-slider .swiper-slide.swiper-slide-active {
	opacity: 1;
}

.swiper-container.nav-slider .swiper-slide .content {
	width: 100%;
}

.swiper-container.nav-slider .swiper-slide .content .title {
	font-size: 20px;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.swiper-container.loading {
	opacity: 0;
	visibility: hidden;
}

.swiper-slide {
	overflow: hidden;
}

.swiper-slide .slide-bgimg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.swiper-slide .entity-img {
	display: none;
}

.swiper-slide .content {
	position: absolute;
	top: 40%;
	left: 0;
	width: 50%;
	padding-left: 5%;
	color: #fff;
}

.swiper-slide .content .title {
	font-size: 2.6em;
	font-weight: bold;
	margin-bottom: 30px;
}

.swiper-slide .content .caption {
	display: block;
	font-size: 13px;
	line-height: 1.4;
	-webkit-transform: translateX(50px);
	transform: translateX(50px);
	-webkit-transition: opacity .3s ease, -webkit-transform .7s ease;
	transition: opacity .3s ease, -webkit-transform .7s ease;
	transition: opacity .3s ease, transform .7s ease;
	transition: opacity .3s ease, transform .7s ease, -webkit-transform .7s ease;
}

.swiper-slide .content .caption.show {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}

[class^="swiper-button-"] {
	width: 44px;
	opacity: 0;
	visibility: hidden;
}

.swiper-button-prev {
	-webkit-transform: translateX(50px);
	transform: translateX(50px);
}

.swiper-button-next {
	-webkit-transform: translateX(-50px);
	transform: translateX(-50px);
}

/*swiperここまで*/

/*recommendについて*/
.recommend {
	outline: none;
	text-align: center;
	margin-top: 150px;
	background: url(images/wave_blue.png);
	background-repeat: no-repeat;
	font-size: 30px;
	height: 1020px;
}

#recommend-one:target,
#recommend-two:target,
#recommend-three:target,
#recommend-four:target {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.line_title {
	top: 140px;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	display: inline-block;
}

.line_title_h3 {
	font-family: "03スマートフォントUI";
	font-weight: lighter;
	font-size: 35px;
}

.line_title_h4 {
	font-family: "03スマートフォントUI";
	font-weight: lighter;
	font-size: 20px;
	padding-top: 10px;
}

.line {
	padding: 120px 0 30px 0;
	position: relative;
}

.primary {}

.upper {
	display: flex;
}

.lower {
	display: flex;
}

.box {
	position: relative;
	margin: 0 auto;
}

.number {
	position: absolute;
	top: 60px;
	left: -60px;
}

.frame {}

/*footerについて*/
footer {
	background: #d0fff0;
	padding: 15px;
	outline: 1px solid #222;
	text-align: center;
}

.footerlogo img {
	width: 250px;
}

footer p {
	font-size: 15px;
	padding-top: 8px;
}

footer #pagetop.in {
	bottom: -10px;
}

footer #pagetop {
	padding: 0;
	margin: 0;
	position: fixed;
	right: 28px;
	bottom: -100px;
	z-index: 100;
	transition: 0.5s ease-in-out;
}

/*sp版(~480px:スマホ縦)について*/
@media screen and (max-width:479px) {

	/*bodyについて*/
	body {
		padding: 25px;
		background-color: #e8e8e8;
		font-family: soleil, sans-serif;
		font-weight: 300;
		font-style: normal;
		width: 100%;
		padding: 25px;
	}

	/*headerについて*/
	header {}

	.logo {
		width: 20px;
		position: absolute;
		top: 5px;
		right: 120px;
		padding: 25px 0px 0px 0;
	}

	.logo img {
		width: 100px;

	}

	.slider {
		top: 240px;
	}

	.frappuccino {
		z-index: 300;
	}

	.frappuccino img {
		width: 220px;
	}

	/*wrapperについて*/

	/*topについて*/
	.top {
		width: 100%;
		height: 600px;
		font-family: soleil, sans-serif;
		font-style: normal;
	}

	/*navについて*/
	.wave {
		display: none;
	}

	nav {
		display: none;
	}

	/*sliderについて*/
	.space {
		padding: 40px;
	}

	.slider .space img {
		width: 70px;
	}

	/*aboutについて*/
	.about {
		margin-top: 80px;
		width: 100%;
	}

	.about h2 {
		font-size: 30px;
		padding: 25px 0px 10px 0px;
	}

	.about p {
		font-size: 15px;
		line-height: 40px;
		padding-bottom: 25px;
		line-height: 2.5em;
	}

	.outline {

		font-family: heisei-kaku-gothic-stdn, sans-serif;

		font-weight: 500;
		font-style: normal;
		display: inline;
		color: #ffffff;
		/* 文字の色 */
		font-size: 30pt;
		/* 文字のサイズ */
		letter-spacing: 2px;
		/* 文字間 */
		text-shadow:
			1px 1px 0px #000000,
			-1px 1px 0px #000000,
			1px -1px 0px #000000,
			-1px -1px 0px #000000,
			1px 0px 0px #000000,
			0px 1px 0px #000000,
			-1px 0px 0px #000000,
			0px -1px 0px #000000;

	}

	.ib {
		display: inline-block;
	}

	.icon01 {
		width: 55px;
		top: -28px;
		left: -18px;
	}

	.icon02 {
		width: 40px;
		bottom: -10px;
		right: -12px;
	}

	/*feelingについて*/
	.feeling {
		margin-top: 80px;
		width: 100%;
	}

	.feeling_title h3 {
		font-family: soleil, sans-serif;
		font-weight: 300;
		font-style: normal;
		padding: 35px 0 5px 0;
	}

	.feeling_title h2 {
		font-family: tbchibirgothicplusk-pro, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 30px;
	}

	.feeling_title h4 {
		font-family: tbchibirgothicplusk-pro, sans-serif;
		font-weight: 400;
		font-style: normal;
		padding: 5px 0 25px 0;
		font-size: 13px;
	}

	.container {
		display: flex;
		flex-direction: column;
	}

	.container h4 {
		font-family: soleil, sans-serif;
		font-weight: 300;
		font-style: normal;
		padding: 0;
	}

	.container h3 {
		font-family: tbchibirgothicplusk-pro, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.container p {
		font-family: tbchibirgothicplusk-pro, sans-serif;
		font-weight: 400;
		font-style: normal;
		padding: 0 0 50px 0;
	}

	.morebtn {
		width: 90px;
		height: 90px;
	}

	.morebtn img {
		width: 60px;
	}

	.btn01 {
		top: 380px;
		left: 220px;
	}

	.btn02 {
		top: 825px;
		left: 220px;
	}

	.btn03 {
		top: 1265px;
		left: 220px;
	}

	/*modalについて*/
	.modal-inner {
		width: 100%;
		margin: 70px 0% 0%;
	}

	.modal p {
		width: 100%;
		margin: 0;
		font-family: tbchibirgothicplusk-pro, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 15px;
		padding: 7px 0 20px 0;
	}

	.enclosure {
		position: static;
		display: block;
		text-align: left;
	}

	.enclosure img {
		padding-top: 10px;
		width: 220px;
	}

	/*topicについて*/
	.topic {
		margin-top: 80px;
		width: 100%;
		background-image: none;
		background-color: #ffffff;
		outline: 1px solid #222;
		height: 700px;
		font-family: tbchibirgothicplusk-pro, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.description {
		width: 310px;
		display: flex;
		align-items: center;
		position: absolute;
		top: 150px;
		left: 20px;
		z-index: 6;
	}

	.description img {
		width: 90px;
	}

	.description p {
		font-size: 12px;
		left: 80px;
	}

	.topic .content_title {
		position: absolute;
		top: 80px;
		right: 30px;
		z-index: 10;
	}

	.vertical-title {
		display: none;
	}

	.vertical-title01 {
		display: inline !important;
		position: absolute;
		top: -50px;
		right: -15px;
	}
	
	.caption{
		font-size: 13px;
	}

	.swiper-container {
		height: 45vh;
		top: 260px;
		left: 10%;
	}

	.swiper-slide .content {
		top: 10%;
		width: 100%;
	}

	.swiper-slide .content .title {
		margin-bottom: 150px;
		font-size: 30px;
	}

	/*recommendについて*/
	.recommend {
		margin-top: 80px;
		width: 100%;
		background-image: none;
		background-color: #d7edf1;
		outline: 1px solid #222;
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.upper {
		display: flex;
		flex-direction: column;
	}

	.lower {
		display: flex;
		flex-direction: column;
	}

	.line{
		display: none;
	}
	
	.line_title {
		top: 70px;
	}

	.line_title_h3 {
		font-size: 25px;
		top: 50px;
		font-family: tbchibirgothicplusk-pro, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.line_title_h4 {
		font-size: 17px;
		font-family: tbchibirgothicplusk-pro, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.line img {
		
	}

	.box {
		
	}
	
	.remommend_01{
	margin-top: 140px;
	}
	
	.box img {
		width: 70%;
	}
	
	.number {
		top: 50px;
		left:-10px;
	}
	
	.number img{
		width: 65%;
	}

	/*footerについて*/
	footer {
		width: 100%;
		padding: 10px;
		margin-top: 20px;
	}

	.footerlogo img {
		width: 120px;
	}

	footer p {
		font-family: soleil, sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: 10px;
		padding-top: 3px;
	}
	
	footer #pagetop {
		width: 20px;
		margin: 10px;
		position: fixed;
		right: 80px;
		bottom: -100px;
	}
}